@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --light-wood: #D1B28D;
    --dark-blue: #003366;
    --gray: #808080;
    --white: #FFFFFF;
    --black: #000000;
    --beige: #F5F5DC;
    --red: #FF0000;
    --blue: #0000FF;
    --green: #008000;
    /* Add other custom colors as needed */
}

a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    display:none;
}
@media (max-width: 640px){
    a.active{
        background-color: black;
        color: white;
    }
}
  